{% extends 'based/base.html' %}

{% block content %}
<h1>Голосування</h1>
<a href="{% url 'poll_create' %}">Створити голосування</a>
<ul>
  {% for poll in polls %}
    <li>
      <a href="{% url 'poll_detail' poll.pk %}">{{ poll.title }}</a>
      {% if user.is_staff or user.is_superuser %}
        | <a href="{% url 'poll_edit' poll.pk %}">Редагувати</a>
        | <a href="{% url 'poll_delete' poll.pk %}">Видалити</a>
      {% endif %}
    </li>
  {% empty %}
    <li>Голосувань поки немає.</li>
  {% endfor %}
</ul>
{% endblock %}
